In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import cm
%matplotlib inline
import seaborn as sns
import requests as re

### Goal for the next day is to load all the csvs for google trends and the prices for each coin.

In [8]:
##Creating the first dataframe for google trending data for the keyword Bitcoin
googlebitcoin = pd.read_csv('../data/2017-2022-bitcoin.csv')
print(googlebitcoin.shape)
googlebitcoin.head(10)

(67, 2)

  Category: All categories            Unnamed: 1
0                      NaN                   NaN
1                    Month  bitcoin: (Worldwide)
2                  2017-01                     6
3                  2017-02                     6
4                  2017-03                     7
5                  2017-04                     6
6                  2017-05                    15
7                  2017-06                    14
8                  2017-07                    13
9                  2017-08                    20

In [9]:
##lets rename the second column to mention the Trend.
header_row = googlebitcoin.iloc[1]
googlebitcoin = pd.DataFrame(googlebitcoin.values[2:], columns=header_row)
googlebitcoin.head()

1    Month bitcoin: (Worldwide)
0  2017-01                    6
1  2017-02                    6
2  2017-03                    7
3  2017-04                    6
4  2017-05                   15